* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 4vh;
    color: black;
}

body {
    display: flex;
    justify-content: str;
    flex-direction: column;
}

header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black 1.5px;
    background-color: #1d7545;
    padding: 1.5vh;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.title {
    margin-right: 1.5vh;
}

#example_btn {
    padding: 1vh 4vw;
    background-color: #f1f1f1;
    border: none;
    color: black;
    border-radius: 5px;
}

#example_btn:hover {
    transform: scale(0.99);
    background-color: #e0e0e0;
    cursor: pointer;
}

#example_btn:active {
    transform: scale(0.98);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #e6e6e6;
    flex: 1;
}

.converter {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exp_input {
    width: 100%;
    height: 5em;
    resize: none;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 1.5px black;
    border-radius: 10px;
    color: black;
    outline: none;
    font-size: 2vh;
    font-family: "Open Sans", sans-serif;

    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

#exp_answer {
    background-color: white;
    height: auto;
    padding: 4% 3%;
    border: solid black 1.5px;
    margin-top: 5%;
    font-size: 3vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    border: solid black 2px;
    background-color: #1d7545;
}

.github_link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    height: 1em;
    margin-right: 0.5em;
}

.github_link_img {
    height: 1em;
    border-radius: 50%;
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.github_link_img:hover {
    box-shadow: 0px 0px 5px 2px #eeeeee;
}

.feedback_link {
    align-items: center;
    color: lightblue;
    text-decoration: none;
}

.feedback_link:hover {
    color: #8fbcf3;
}

.oper {
    display: flex;
    flex-direction: row;
    align-items: center;
    --height: 100%;
    font-size: var(--height);
}

.oper_left {
    display: flex;
    align-items: center;
}

.oper_right {
    display: flex;
    align-items: center;
}

.oper_divide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oper_divide_left {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid black 0.3vh;
}

.oper_divide_right {
    margin-top: -0.1em;
}

.oper_divide_symbol {
    display: none;
}

.oper_pow {
    height: 100%;
    align-items: stretch;
}

.oper_pow_right {
    --width: 100%;
    font-size: calc(var(--width) * 0.65);
    height: fit-content;
    --height: 100%;
    transform: translateY(calc(var(--height) * -0.1));
    margin-left: -3px;
}

.oper_pow_symbol {
    display: none;
}

.var {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    padding: 0px 3px;
}

.dollar_sign {
    display: flex;
    align-items: center;
    font-size: 70%;
    transform: translateY(0.15em);
}

.bracket_sqrt {
    font-size: 2em;
}

.bracket_divide {
    font-weight: 100;
    font-size: 2em;
}
